<h2>Hey <%= current_user.username %>!!</h2>
<h4>You just bought <%= @order.quantity %> copies of <%= @order.book.title %>!</h4>
<p>Book id: <%= @order.book_id %></p>

<a href="/books/<%= @order.book_id %>">Back to this Book</a>