<h2>Here's that one singular book you were looking for!......</h2>
 
<%= @book.sale_message %>
 
<p>You can get <%= @book.title %> from <%= @book.supplier.name %>.</p> 

<p> <img class="index_image" src="<%= @book.images[0].url %>"> </p>

<p> <%= @book.title %> by <%= @book.author %> is about <%= @book.description %>.<p>
<p> <%= @book.title %> is available for $<%= @book.price %>.
<p>Your estimated taxes on this book will be: $<%= @book.tax %></p>
<p>Which means your total cost will be: $<%= @book.total %></p>
<p> <%= @book.title %> has the copyright date of: <%= @book.copyright_year %></p>
<p><a href="/books/<%= @book.id %>/edit">Edit/Destroy this Book!</a></p>

<hr>

<%= form_tag '/orders', method: :post do %>
  <div>
    <p>How Many? <input type="text" name="quantity"></p>
    <input type="hidden" name="book_id" value="<%= @book.id %>">
  </div>

  <div>
    <p>Book Id: <input type="integer" name="book_id" value="<%= @book.id %>"></p>
  </div>
  
  <div>
    <p>Your book costs: $<%= @book.price %></p>
    <p>Taxes these days are: 0.07%</p>
    <p>That means that your total cost will be: $<%= @book.price * 0.07 + @book.price %> per book.</p>
  </div>


  <input type="submit" value="Add to Cart">
<% end %>
 







