<h2>Here's that one singular book you were looking for!......</h2>
 
<%= @book.sale_message %>
 
<p> <%= @book.title %> by <%= @book.author %> is about <%= @book.description %>.<p>
<p> <%= @book.title %> is available for $<%= @book.price %>.
<p>Your estimated taxes on this book will be: $<%= @book.tax %></p>
<p>Which means your total cost will be: $<%= @book.total %></p>

<%= image_tag "#{@book.image}" %>

<%= image_tag 'http://power.itp.ac.cn/~jmyang/funny/fun4.jpg' %>
<p>*******************************************************</p>
<%= image_tag "#{@book.image}" %>
<%= image_tag "#{@book.image}" %>
<p><%= @book.image %></p>
<p> <%= @book.title %> has the copyright date of: <%= @book.copyright_year %></p>
<p><a href="/books/<%= @book.id %>/edit">Edit/Destroy this Book!</a></p>


 

